version: "3.9"
services:

  gateway_api:
    build:
      context: GatewayAPI
      dockerfile: Dockerfile
    image: {{ registry_host }}:5001/rest_finder/gateway_api
    
  dbservice:
    build:
      context: database
      dockerfile: Dockerfile
    image: {{ registry_host }}:5001/rest_finder/dbservice

  user:
    build:
      context: UserService
      dockerfile: Dockerfile
    image: {{ registry_host }}:5001/rest_finder/user

  restaurant:
    build:
      context: RestaurantService
      dockerfile: Dockerfile
    image: {{ registry_host }}:5001/rest_finder/restaurant

  rating:
    build:
      context: RatingService
      dockerfile: Dockerfile
    container_name: rating_service
    image: {{ registry_host }}:5001/rest_finder/rating
