version: "3.9"
services:

  gateway_api:
    build:
      context: GatewayAPI
      dockerfile: Dockerfile
    image: {{ registry }}:gateway_api
    
  dbservice:
    build:
      context: database
      dockerfile: Dockerfile
    image: {{ registry }}:dbservice

  user:
    build:
      context: UserService
      dockerfile: Dockerfile
    image: {{ registry }}:user

  restaurant:
    build:
      context: RestaurantService
      dockerfile: Dockerfile
    image: {{ registry }}:restaurant

  rating:
    build:
      context: RatingService
      dockerfile: Dockerfile
    image: {{{ registry }}:rating
