apiVersion: v1
kind: Namespace
metadata:
  name: rest-finder
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-api
  namespace: rest-finder
spec:
  selector:
    matchLabels:
      app: gateway-api
  template:
    metadata:
      labels:
        app: gateway-api
    spec:
      containers:
        - name: gateway-api
          image: {{ registry }}:gateway_api
          ports:
            - containerPort: 8080
          env:
            - name: SERVICE_USERS_HOST
              value: "http://user:8081"
            - name: SERVICE_RESTAURANTS_HOST
              value: "http://restaurant:8082"
            - name: SERVICE_RATING_HOST
              value: "http://rating:8083"
            - name: BOT_TOKEN
              value: {{ bot.secret.token}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dbservice
  namespace: rest-finder
spec:
  selector:
    matchLabels:
      app: dbservice
  template:
    metadata:
      labels:
        app: dbservice
    spec:
      containers:
        - name: dbservice
          image: {{ registry }}:dbservice
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: "postgres"
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "postgres"
---
apiVersion: v1
kind: Service
metadata:
  name:  dbservice
spec:
  selector:
    app: dbservice
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user
  namespace: rest-finder
spec:
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      containers:
        - name: user
          image: {{ registry }}:user
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://dbservice:5432/users"
            - name: SPRING_DATASOURCE_USERNAME
              value: {{ db.secret.users_user}}
            - name: SPRING_DATASOURCE_PASSWORD
              value: {{ db.secret.users_user_pwd }}
---
apiVersion: v1
kind: Service
metadata:
  name: user
spec:
  selector:
    app: user
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: restaurant
  namespace: rest-finder
spec:
  selector:
    matchLabels:
      app: restaurant
  template:
    metadata:
      labels:
        app: restaurant
    spec:
      containers:
        - name: restaurant
          image: {{ registry }}:restaurant
          ports:
            - containerPort: 8082
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://dbservice:5432/restaurants"
            - name: SPRING_DATASOURCE_USERNAME
              value: {{ db.secret.restaurants_user}}
            - name: SPRING_DATASOURCE_PASSWORD
              value: {{ db.secret.restaurants_user_pwd }}
---
apiVersion: v1
kind: Service
metadata:
  name: restaurant
spec:
  selector:
    app: restaurant
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8082
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rating
  namespace: rest-finder
spec:
  selector:
    matchLabels:
      app: rating
  template:
    metadata:
      labels:
        app: rating
    spec:
      containers:
        - name: rating
          image: {{ registry }}:rating
          ports:
            - containerPort: 8083
          env:
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://dbservice:5432/comments"
            - name: SPRING_DATASOURCE_USERNAME
              value: {{ db.secret.rating_user}}
            - name: SPRING_DATASOURCE_PASSWORD
              value: {{ db.secret.rating_user_pwd }}
---
apiVersion: v1
kind: Service
metadata:
  name: rating
spec:
  selector:
    app: rating
  ports:
    - protocol: TCP
      port: 8083
      targetPort: 8083
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: rest-finder
spec:
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:latest
          ports:
            - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  selector:
    app: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
