
-- Create databases and user for each database.

CREATE USER {{ db.secret.rating_user}} WITH PASSWORD '{{ db.secret.rating_user_pwd }}';
CREATE DATABASE comments;
\c comments;
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO {{ db.secret.rating_user}};
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL ON TABLES TO {{ db.secret.rating_user}};

CREATE USER {{ db.secret.restaurants_user}} WITH PASSWORD '{{ db.secret.restaurants_user_pwd }}';
CREATE DATABASE restaurants;
\c restaurants;
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO {{ db.secret.restaurants_user}};
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL ON TABLES TO {{ db.secret.restaurants_user}};

CREATE USER {{ db.secret.users_user}} WITH PASSWORD '{{ db.secret.users_user_pwd }}';
CREATE DATABASE users;
\c users;
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO {{ db.secret.users_user}};
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL ON TABLES TO {{ db.secret.users_user}};
